# Ignora un file specifico
appdaemon/conf/secrets.yaml

# Ignora una cartella intera
.vscode
appdaemon/conf/.vscode

# Ignora tutti i file `.log`
*.log
esphome/hardware/kc868_a8_01.yaml
esphome/hardware/kc868_a8s_83.yaml
esphome/software/boot.yaml
