{
  "version": 1,
  "minor_version": 4,
  "key": "core.config",
  "data": {
    "latitude": 40.17043992567558,
    "longitude": 18.15776646137238,
    "elevation": 0,
    "unit_system_v2": "us_customary",
    "location_name": "Casa",
    "time_zone": "Europe/Rome",
    "external_url": null,
    "internal_url": null,
    "currency": "EUR",
    "country": "IT",
    "language": "it",
    "radius": 100
  }
}